<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">   
        <!--bean id="employeeController" class="com.virtusa.webapp.controller.Employee"></bean-->
        <context:annotation-config />
         <mvc:annotation-driven/>  
         <tx:annotation-driven/>
         <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />
        <context:component-scan base-package="com.virtusa.webapp"></context:component-scan>
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/view/"></property>  
        <property name="suffix" value=".jsp"></property>          
        </bean>  
        <!--ds -->
         <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="ds">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/spring_project"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
		</bean>
		<!-- session factory -->
		<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="sessionFactory" >
		<property name="dataSource" ref="ds"/>
		<property name="hibernateProperties" >
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.virtusa.webapp.model.Customer</value>
				<value>com.virtusa.webapp.model.Admin</value>
				<value>com.virtusa.webapp.model.Product</value>
				<value>com.virtusa.webapp.model.Cart</value>
				<value>com.virtusa.webapp.model.CartItem</value>
				<value>com.virtusa.webapp.model.OrderItem</value>
				<value>com.virtusa.webapp.model.Orders</value>
				
			</list>
		</property>
		</bean>
		<!-- transaction manager -->
		<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	    </bean>
	    <!-- HIBERNATE template -->
	    	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" id="hTemplate">
		    <property name="sessionFactory" ref="sessionFactory"/>
	       </bean>
	       <!--
	    <bean class="com.virtusa.webapp.dao.UserDao" id="userDao"> 
	    <property name="ht" ref="hTemplate"></property>
	    </bean>-->
  
</beans>  
